---
import { PokemonCard, PokemonList } from '@/components'
import { getPokemons } from '@/services'
import { LayoutBase } from '@/layouts'

const pokemons = await getPokemons({ limit: 10 })

const title = 'Pokemon Static | Home'
---

<LayoutBase title={title}>
  <main aria-label="Listado de pokemons" class="container mx-auto p-4 pt-10">
    <PokemonList data={pokemons} />
    <div class="flex justify-center mt-6">
      <a class="text-xl text-neutral-950 font-bold bg-indigo-400 rounded-full px-4 pb-2 pt-1.5" href="/pokemons/1"
        >Ver todos</a
      >
    </div>
  </main>
</LayoutBase>
