---
import PokemonCard from './PokemonCard.astro'

interface Props {
  data: {
    name: string
    url: string
    isBig?: boolean
  }[]
}

const { data } = Astro.props
---

<section aria-label="Listado de pokemons" class="grid grid-cols-[repeat(auto-fill,minmax(260px,1fr))] gap-6">
  {data.map(pokemon => <PokemonCard {...pokemon} />)}
</section>
